@charset 'utf-8';
/**
    * 其他适用颜色
 */
.logo {
  height: 40px;
  margin-top: -10px;
  transition: all 0.5s ease;
}
.logo:hover {
  height: 45px;
}
.nav_seach:focus {
  outline-color: #6452a0;
}
body {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
@media only screen and (max-width: 640px) {
  body {
    padding-top: 50px ;
  }
}
.top-nav {
  border-bottom: 2px solid #6452a0;
  transition: all 0.5s ease;
  margin-bottom: 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 640px) {
  .top-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
}
.top-nav .seach-input,
.top-nav .seach-btn {
  border: none;
  border-bottom: 2px solid #6452a0;
  margin-top: 4px;
  outline: none;
  padding: 2px;
  background-color: transparent;
  transition: all 0.5s ease;
}
.top-nav .seach-input {
  width: 80px;
}
.top-nav .seach-input:focus {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.4);
}
.top-nav .seach-btn {
  border: none;
  color: #6452a0;
  padding: 2px 6px;
}
.top-nav .nav-collect {
  box-shadow: none;
  border: 1px solid #6452a0;
  border-top-width: 0px;
  -webkit-transition: all 0.75 ease;
  -moz-transition: all 0.75 ease;
  -o-transition: all 0.75 ease;
  transition: all 0.75 ease;
}
.top-nav .glyphicon-use {
  color: #6452a0;
}
.foot-nav .container-fluid {
  background-color: #6452a0;
  padding: 10px 0;
}
.foot-nav .container-fluid ul {
  text-align: center;
  margin: 0;
}
.foot-nav .container-fluid li {
  display: inline-block;
  padding: 0 4px ;
  cursor: pointer;
  color: white;
}
.foot-nav .container-fluid li a {
  color: white;
  padding: 0 8px;
}
.foot-nav .foot-text {
  padding-top: 20px;
  height: 100px;
}
