@charset'utf-8';

//主颜色：
@Purple:#6452a0;
//（深紫）

/**
    * 其他适用颜色
 */
@theOrange:#EE8E36;
@theSkin:#F2B36A;
@thebanana:#FAE294;
@thinPurple:#CEB0BA;
@thinPink:#ffeffd;
@wineRed:#7d0022;
@backgary:#f8f8f8;
//等级颜色(其他地方也可以使用)：
    @orangeY:#fcb322; 
    //（黄橙）-》王牌

    @redPlum:#ff5a5a;
    //（梅红）-》高级

    @blueThin:#43b6ef;
    //（淡蓝）-》中级

    @greenThin:#39c98e;
    //（淡绿）-》初级



//文字表述类：
    
   @Red:#ff1a1a;
   //（红）//强调：

   // 标题文字：黑

   @Gary:#6b6a6a;
   // 普通标注文字：（灰）

   @GrayThin:#dadada;
   //普通区域边框或下划线：（淡灰）